<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="login-container">
        <div class="header_p">
          <h3><i class="fas fa-book-reader"></i> Stress help</h3>
          <p class="lead frenchscript">Support for university students to deal with stress.</p>
        </div>
        <div class="divider"></div>
        <div class="section">
          <form action="/auth/login" method="POST">
            <div class="input-field">
              <input type="text" id="email" name="email">
              <label for="email">Email address</label>
            </div>
            <div class="input-field">
              <input type="password" id="password" name="password">
              <label for="password">Password</label>
            </div>
            <div class="input-field">
              
                 <button type="submit" class="btn black darken-1">
                        Log In
                    </button> 
             
            </div>
          </form>
        </div>
        <div class="section">
          <p class="text-center">or log in with</p>
          <div class="d-flex">
            <button class="btn-float btn btn-floating blue darken-4">
              <i class="fab fa-facebook-f fa-small"></i>
            </button>
            <button class="btn-float btn btn-floating red darken-4">
              <i class="fab fa-google fa-small"></i>
            </button>
            <button class="btn-float btn btn-floating light-blue darken-4">
              <i class="fab fa-twitter fa-small"></i>
            </button>
            <button class="btn-float btn btn-floating indigo darken-4">
              <i class="fab fa-linkedin-in fa-small"></i>
            </button>
          </div>
        </div>
        <div class="divider"></div>
        <div class="section">

          </a>
        </div>
        <div class="section">
          <a href="/signup" class="btn grey lighten-1">

            <i class="fas fa-user-plus left"></i> Sign Up
          </a>
          <a href="#" class="btn red darken-1">
            <i class=""></i> Forgot Password?
          </a>
        </div>
        <div class="section">
          <a href="#" class="btn grey lighten-1">
            <i class=""></i> IT Support call 0400352212
          </a>
        </div>
      </div>
      <div class="about-us">
        <h4>About Us</h4>
        <p>Stress less app is designed for university of applied sciences students to alleviate stress while attending university. University is full of stressors including high-intensity courses, independent living, living on a budget, and awkward social situations.</p>
        <p>The purpose of Stress less app is to provide biofeedback and booking engine in a stress management app in Finland. 
        <p>We are dreaming to provide users with a more personalized and interactive experience. Biofeedback is a technique that uses sensors to measure physiological responses such as heart rate, breathing, and muscle tension. By providing users with real-time feedback on their physiological responses, the app could help users to better understand the connection between their thoughts, feelings, and physical sensations, and develop strategies for managing stress.</p>

          </a>
        </div>
      </div>
    </div>
  </body>
</html>
