p {
  margin: 10px 0 !important;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}

* {
box-sizing: border-box;

}

.wrapper {
    overflow: hidden;
}

.login-container {
  max-width: 1270px;
  margin-top: 50px;
  text-align: center;
}



.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.fa-large {
  font-size: 26px !important;
}

.input-group{
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon{
  display:table-cell;
}

.search-form {
  margin: 70px 0;
}
.fs-70 {
  font-size: 70px;
}
.d-flex{
  display: flex;
}
.w-18{
  width: 18rem;
}
.w-50{
  width: 50rem;
}
.ml-10 {
  margin-left: 10px;
}
.text-center {
  text-align: center;
}
.p-10{
  padding: 10px;
}

.well {
  width: 100%;
  content:"";
  z-index:-1;
}

.well-header {
  font-size: 2em;
  font-weight: bold;
  font-family: helvetica Neue;
  color: #1E2749;

}

.blg-content p {
  font-size: 14px;
  line-height: 22px;
}




#disabledSelect{
  height: 30px;
}
/*
.form-control {
    height: 30px;
}
*/
.form-group1 {
  padding-bottom: 45px;
  height: 5px;
}



#disabledSelect{
  padding-bottom: 25px;
}

.input-group-addon,.fa> fa-calendar {
  color: #FFE071;
  background: #1E2749;
  border: solid 1px #1E2749;
}

p, label, checkbox {
  font-size: 1em;
  /*font-weight: bold;*/
  color: #1E2749;

}

.header_p {
  font-size: 1.1em;
}

.button{
  color: rgba(198, 156, 0, 1);
  background: #1E2749;
  border: solid 1px #1E2749;
;
}

.help-block {
  color: #1E2749;
}

.table-custom td a, .table-custom th, .table-custom td{
 color: #000000 !important;
 font-weight: 500;
}
.table-custom .dash-status{
  color: #000000;
  font-weight: 500;
  font-style: italic;
}
.w-49{
  width: 49% !important;
}
.status-card .card-text{
  justify-content: center !important;
  font-weight: 500;
  background-color: transparent !important;
}
.status-card p.card-text, .info-card p.card-text {
    justify-content: space-between;
    display: flex;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px 20px 5px 10px;
}
.dropdown-menu{
  background-color: #ee6e73 !important;
  border-color: #ee6e73 !important;
}
.dropdown-menu a{
  color: #ffffff !important;
}
.dropdown-menu a:hover{
  color: #ee6e73 !important;
  background-color: #ffffff !important;
}
.nav-wrapper .dropdown, .nav-wrapper a{
  margin-top: -10px;
}

@media only screen and (max-width: 600px) {
.navigation{
  display: none;
}
}
@media only screen and (max-width: 575px) {
  nav {
    height: 90px;
    
      }    
}

@media only screen and (max-width: 480px) {
  

  .dashboard.d-flex{
    flex-direction: column;
  }
  .dashboard .w-49{
    width: 100% !important;
  }


  /* your CSS here */


}
