<h3><i class="fas fa-book-reader"></i> Stress help</h3>
<div class="section">
    <p class="lead">Support for students to deal with stress</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/login" class="btn black darken-1">
        <i class="fab fa-google left"></i> Log In
    </a>
    <a href="/signup" class="btn grey lighten-1">
        <i class="fas fa-user-plus left"></i> Sign Up
    </a>
</div>
