<h3><i class="fas fa-book-reader"></i> Login</h3>
<div class="divider"></div>
<div class="section">
    <form action="/user/login" method="POST">
        <label for="email"></label>
        <input type="text" name="email"
               placeholder="Email">
        <label for="password"></label>
        <input type="password" name="password"
               placeholder="Password">
        <button>Login</button>
    </form>
</div>
