<h3><i class="fas fa-book-reader"></i> Register</h3>
<div class="divider"></div>
<div class="section">
    <form action="/user/signup" method="POST">
        <label for="name"></label>
        <input type="text" name="name"
               placeholder="Name">
        <label for="email"></label>
        <input type="text" name="email"
               placeholder="Email">
        <label for="gender"></label>
        <input type="text" name="gender"
               placeholder="Gender">
        <label for="age"></label>
        <input type="number" name="age"
               placeholder="Age">
        <label for="occupation"></label>
        <input type="text" name="occupation"
               placeholder="Occupation">
        <label for="hobbies"></label>
        <input type="text" name="hobbies"
               placeholder="Hobbies">
        <label for="health"></label>
        <input type="text" name="health_issues"
               placeholder="Health Issues">
        <label for="password"></label>
        <input type="password" name="password"
               placeholder="Password">
        <label for="confirm_password"></label>
        <input type="text" name="confirm_password"
               placeholder="Confirm Password">
        <button>Submit</button>
    </form>
</div>
